<div id="create-interview-window">
  <div class="model">
    <div class="field">
      <input type="text" placeholder="Company Name" id="company_name" />
    </div>

    <div class="field">
      <input type="date" placeholder="Date" id="date" />
    </div>

    <div class="field" style="margin: 2px 0;">
      <button onclick="createInterview()">Add Interview</button>
    </div>
  </div>

  <!-- close button -->
  <i id="close-create-interview-popup" class="fa fa-close"></i>
</div>
