<div id="edit-window">
  <div class="model">
    <input type="hidden" value="" id="hidden-student-id">
    <div class="field">
      <input type="text" placeholder="Name" id="name" />
    </div>

    <div class="field">
      <input type="text" placeholder="Email" id="email" />
    </div>

    <div class="field">
      <input type="text" placeholder="College" id="college" />
    </div>

    <div class="field">
      <input type="text" placeholder="Batch" id="batch" />
    </div>

    <div class="field" style="margin: 2px 0;">
      <select name="status" id="status">
        <option value="not_selected">Select Placement Status</option>
        <option value="placed">Placed</option>
        <option value="not_placed">Not Placed</option>
      </select>
    </div>

    <div class="field">
      <input type="text" placeholder="DSA Score" id="dsa_score" />
    </div>

    <div class="field">
      <input
        type="text"
        placeholder="Web Development Score"
        id="web_dev_score"
      />
    </div>

    <div class="field">
      <input type="text" placeholder="React Score" id="react_score" />
    </div>

    <div class="field" style="margin: 2px 0;">
      <button onclick="editStudent()">Update</button>
    </div>
  </div>

  <!-- close button -->
  <i id="close-edit-popup" class="fa fa-close"></i>
</div>
