<div id="view-window">
  <div class="model">
    <div class="field">
      <div class="title">Name</div>
      <div class="value" id="name">Ujjawal Biswas</div>
    </div>

    <div class="field">
      <div class="title">Email</div>
      <div class="value" id="email">ujjawalbiswas74@gmail.com</div>
    </div>

    <div class="field">
      <div class="title">College</div>
      <div class="value" id="college">MAKAUT (WB)</div>
    </div>

    <div class="field">
      <div class="title">Batch</div>
      <div class="value" id="batch">CSE</div>
    </div>

    <div class="field">
      <div class="title">Status</div>
      <div class="value" id="status">Placed</div>
    </div>

    <div class="field">
      <div class="title">DSA Score</div>
      <div class="value" id="dsa_score">100</div>
    </div>

    <div class="field">
      <div class="title">Web Development Score</div>
      <div class="value" id="web_dev_score">91</div>
    </div>

    <div class="field">
      <div class="title">React Score</div>
      <div class="value" id="react_score">89</div>
    </div>

    <!-- All Interviews -->
    <br />
    <div class="heading">
      <h2>Interviews</h2>
    </div>

    <div class="interviews" id="student-interviews">

      <!-- <div class="interview">
        <div class="entry">
          <div class="field-name">Company</div>
          <div class="field-value">Microsoft</div>
        </div>
        <div class="entry">
          <div class="field-name">Date</div>
          <div class="field-value">20 july, 2023</div>
        </div>
        <div class="entry">
          <div class="field-name">Result</div>
          <div class="field-value">Pass</div>
        </div>
      </div> -->

      <!-- <div class="interview">
        <div class="entry">
          <div class="field-name">Company</div>
          <div class="field-value">Amazon</div>
        </div>
        <div class="entry">
          <div class="field-name">Date</div>
          <div class="field-value">21 july, 2023</div>
        </div>
        <div class="entry">
          <div class="field-name">Result</div>
          <div class="field-value">Pass</div>
        </div>
      </div> -->

    </div>
  </div>

  <!-- close button -->
  <i id="close-view-popup" class="fa fa-close"></i>
</div>
